.box1 {
  margin: 100px;
  width: 20rem;
  height: 4rem;
  background-color: blue;
  color: aliceblue;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flot-box::before {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  border: 2px solid #00B8D1;
  top: 85%;
  left: 45%;
  background-color: #fff;
}

.container-slide {
  display: flex;
  max-width: 455px;
}
.inner {
  display: flex;
  justify-content: space-between;
}
.carousel {
  cursor: grab;
  overflow: hidden;
}
